
<h1>Issues</h1>
<div>
<ul>
 <% @issues.each do |issue| %>
  <li class="">
    <%= issue.description  %>
    <%= image_tag issue.photo.url(:medium) %>
  </li>
  <% end %>
</ul>
</div>

<div>
  <%= render 'form' %>
</div>

